html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/backimage.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

header {
    text-align: center;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    margin: 0;
    font-size: 40px;
    grid-column: 2;
}

main {
    flex: 1;
    margin: 2em 1.6em;
    text-align: justify;
    padding-bottom: 2em;
}

.intro-text {
    margin-bottom: 2em;
}

.song {
    margin-bottom: 2em;
}

.connect {
    margin-bottom: 2em;
    margin-top: 4em;
}

.info {
    color: white; /* Standardfarbe für den restlichen Text */
}

.label {
    color: rgb(255, 219, 119); /* Farbe nur für "Instagram", "Email" und "Mobile" */
}



/* Media query for larger screens (PC) */
@media (min-width: 768px) {
    header {
        padding: 2em;
    }

    h1 {
        font-size: 50px;
    }

    .intro-text p,
    .connect p,
    .song p {
        font-size: 20px;
    }

    body {
        margin: 0 5em;
    }
}

footer {
    text-align: center;
    padding: 1em 0;
    background: rgba(0, 0, 0, 0.5); /* Optional: to ensure footer visibility */
}
